form {
  display: flex;
  gap: 2rem;
  align-items: center;
}

mat-form-field {
  height: 56px;
}

mat-progress-bar {
  margin-bottom: 1rem;
}

.products-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
}

app-products-detail {
  max-width: 405px;
}
